* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #292929;
    --color-black: #141414;
    --color-secondary: #4381C1;
    --color-white: #EDF7F6;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .4);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: var(--color-white);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit
}

header {
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18 rem;
}

.controlls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.controlls .active-btn {
    background-color: var(--color-secondary) !important;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.controlls .active-btn i {
    color: var(--color-white) !important;
}

.controlls .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-black);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: .7rem 0;
    -webkit-box-shadow: var(--box-shadow-1);
    box-shadow: var(--box-shadow-1);
}

.controlls .control i {
    font-size: 1.2rem;
    color: var(--color-white);
    pointer-events: none;
}