@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #212121;
  --color-black: #171717;
  --color-secondary: #5191d2;
  --color-white: #EDF7F6;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .4);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--color-primary);
  font-size: 1.1rem;
  color: var(--color-white);
}
